<!DOCTYPE html>
<html
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

<style>
body {font-family: 'Prompt', sans-serif;}

.press {
  background-color: #00FF7F;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.notpress {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.press:hover {opacity: 0.6}
.notpress:hover {opacity: 0.6}

</style>
</head>
<body>

<h1 align="center">นโยบายความเป็นส่วนตัว</h1>
<p   style="text-indent: 2.5em;">โปรดคำนึงอย่างจริงจังเพื่อเป็นไปตาม
<span class="psw"> <a href="http://www.ratchakitcha.soc.go.th/DATA/PDF/2562/A/069/T_0052.PDF">พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ.2562</a></span> ทางผู้ใช้บริการยินยอมให้ผู้ให้บริการมีสิทธิเข้าถึงข้อมูล (xxxxxxx@dome.tu.ac.th)
ทางผู้ให้บริการจะไม่ใช้ข้อมูลส่วนบุคคลที่ได้รับจากท่านเพื่อวัตถุประสงค์อื่นใดนอกเหนือจากการติดต่อและให้บริการตามที่ท่านร้องขอ</p>
<h2 align="center">ข้อกำหนดการใช้บริการ</h2>
<h3 align="left">สำคัญ :</h3>
<p><dd>1. การใช้บริการนี้ ผู้ใช้ต้องตรวจสอบว่าได้ดำเนินการผ่าน cs264-group4.herokuapp
ผู้ให้บริการจะไม่รับผิดชอบต่อความเสียหายใดๆ ที่เกิดขึ้นจากการใช้บริการจากแหล่งอื่นที่ไม่ใช่ของผู้ให้บริการ
</dd></p>
<p><dd>
2. ข้อมูลและส่วนประกอบต่างๆ ที่ปรากฏบนเว็บไซต์นี้อาจมีการเปลี่ยนแปลงได้ โดยไม่ต้องแจ้งให้ผู้ใช้บริการทราบล่วงหน้า
</dd></p>
<p><dd>
3. เมื่อผู้ใช้ให้ข้อมูลเกี่ยวกับตนเองแก่ผู้ให้บริการ ผู้ใช้จะต้องให้ข้อมูลที่เป็นจริง ถูกต้องและครบถ้วนในขณะที่ใช้บริการและปรับปรุงข้อมูลให้เป็นปัจจุบันอยู่เสมอ
</dd></p>
<p><dd>
4. หากผู้ใช้ลงทะเบียนด้วยรหัสผ่านในขณะที่ใช้บริการ ผู้ใช้จะต้องใช้ความระมัดระวังเพื่อไม่ให้มีการใช้รหัสผ่านในลักษณะที่ไม่ชอบ ทางผู้ให้บริการจะถือว่าการดำเนินการโดยใช้รหัสดังกล่าว เป็นการดำเนินการของผู้ที่เป็นเจ้าของรหัสผ่านเอง
</dd></p>

</p>
<p align="center">
<a href="https://cs264-group4.herokuapp.com/"><button class="notpress">ไม่ยอมรับ</button></a>

<a id ="next" href="https://cs264-group4.herokuapp.com/registrar/advisor"><button class="press">ยอมรับ</button></a>
</p>

</body>
</html>
