<!DOCTYPE HTML>
<meta http-equiv=Content-Type content="text/html; charset=windows-874">

<HTML>
<HEAD>
<TITLE>การเข้าดูคำร้อง</TITLE>

</HEAD>

<BODY TOPMARGIN=0 LEFTMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 BGCOLOR=#FFFFFF TEXT=#000000 ALINK=#003399 LINK=#003399 VLINK=#003399>
<link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="style/STYLE.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="Jquery/fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<!--includeTrasition Icon CSS-->
<link rel="stylesheet" href="Jquery\include\transition.min.css" type="text/css">
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR class="ContentBody" VALIGN=TOP>
<TD>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

  body {font-family: 'Prompt', sans-serif;}


.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 4px 2px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
</style>

<style>
.btn {
  background-color: #998EA6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.info {
  background-color: #B0C4DE;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {opacity: 0.6}
</style>

<!-- Begin Menu -->
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
<TR><TD><a ><IMG SRC=../images/Tphoto.jpg border=0 width=275 height=154 ></a> </TD></TR>

<TR VALIGN=MIDDLE ><TD HEIGHT=10 ALIGN=MIDDLE></A></TD></TR>


<TR>
<TD BGCOLOR=#DCDCDC >

<div id=menu>
<ul>
<p >ผศ.ดร.ทรงศักดิ์ รองวิริยะพานิช</p>
<p><a href="https://cs264-group4.herokuapp.com/registrar/advisor/notifications" class="notification">
  <span>แจ้งเตือน</span>
  <span class="badge">2</span>
</a></p>
<p ><a href="#">
    <button class="btn">ข้อมูลส่วนตัว</button>
    <p></a></p>
<a href="https://cs264-group4.herokuapp.com/registrar/advisor/request">
    <p><button class="btn">อนุมัติคำร้อง</button>
</a></p>
<p><a href="#">
    <button class="btn">ปฏิทินเข้าพบนักศึกษา</button>
</a></p>
<p><a href="https://cs264-group4.herokuapp.com/">
    <button class="btn">ออกจากระบบ</button>
</a></p>

</ul>
</div>

<TR><TD HEIGHT=32>&nbsp;</TD></TR>
</TABLE>
<!-- End Menu -->
</TD>

<!-- Vertical Bar
-->
<TD BGCOLOR=#FFFFFF>

<!-- Begin Page Detail -->
<BR>
<TABLE BORDER=0 CELLSPACING=2 CELLPADDING=0><TR></TR></TABLE><IMG SRC=images/common/line/horz_1.gif WIDTH=437 HEIGHT=7><BR><TABLE BORDER=0></TABLE><BR><FONT COLOR=#424242 size = "6">&nbsp;&nbsp;&nbsp;<B>อนุมัติคำร้อง</B><FONT >&nbsp;<BR><BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
<TR><TD WIDTH=30></TD><TD><FONT COLOR=#000080 size = "5">
รหัสนักศึกษา
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ชื่อ - นามสกุล
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
GPA
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อนุมัติ - ไม่อนุมัติ
</TD>
</TR></TABLE>

<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0><TR><TD WIDTH=30></TD><TD><FONT COLOR=#FF8000>
<p>
	<button class="info">5809XXXXXX</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://cs264-group4.herokuapp.com/registrar/advisor/request/stu/1"><button class="info">นางสาวซู่ซ่า ประทังกี้ประทังก้า </button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="info">2.67</button>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#"><button class="info">อนุมัติ</button></a>
    <a href="#"><button class="info">ไม่อนุมัติ</button></a>
    
</p></TD></TR></TABLE>

<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0><TR><TD WIDTH=30></TD><TD><FONT COLOR=#FF8000>
  <p>
    <button class="info">5809XXXXXX</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://cs264-group4.herokuapp.com/registrar/advisor/request/stu/2"><button class="info">นายนกบวกนก เป็นนกบวกนก</button></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="info">2.32</button>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><button class="info">อนุมัติ</button></a>
      <a href="#"><button class="info">ไม่อนุมัติ</button></a>
      
  </p></TD></TR></TABLE>
<!-- End Page Detail -->
</TD>
</TR>


</TABLE>

</BODY>
</HTML>

<!-- Programmed by Advance Vision Systems, 1999 -->